
body {
  background-image: image-url('garage1.jpg');
  background-position: left top;
  background-repeat: repeat;
   }

.task-action-delete-task a {
width:14px;
height:16px;
display: inline-block;
background: image-url('delete_task.png') no-repeat;
}

.task-action-edit-task a {
width:14px;
height:14px;
display: inline-block;
background: image-url('edit_task.png') no-repeat;
}

.task-action-save-task a {
width:14px;
height:14px;
display: inline-block;
background: image-url('save_task.png') no-repeat;
}



table {
width: 100%;
}
.col1 {
width: 100px;
}
td.col1 { background: #4169A7; color: white; }
td.col2 { background: #D0D0D0; color: white; }
td.col3 { background: #FFFFFF; color: white; }

.task-action-delete-task a {
width:14px;
height:16px;
display: inline-block;
background: image-url('delete_task.png') no-repeat;
}

.task-action-edit-task a {
width:14px;
height:14px;
display: inline-block;
background: image-url('edit_task.png') no-repeat;
}

.task-action-save-task a {
width:14px;
height:14px;
display: none;
background: image-url('save_task.png') no-repeat;
}
