/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-image: url(garage1.jpg);
  background-position: left top;
  background-repeat: repeat;
   }


.task-action-delete-task a {
width:14px;
height:16px;
display: inline-block;
background: url("/assets/delete_task.png") no-repeat;
}




.task-action-edit-task a {
width:14px;
height:14px;
display: inline-block;
background: url("/assets/edit_task.png") no-repeat;
}

      <style>
        table {
        width: 100%;
        }
        .col1 {
        width: 100px;
        }
        td.col1 { background: #4169A7; color: white; }
        td.col2 { background: #D0D0D0; color: white; }
        td.col3 { background: #FFFFFF; color: white; }
      </style>




<style>
.task-action-delete-task a {
width:14px;
height:16px;
display: inline-block;
background: url("/assets/delete_task.png") no-repeat;
}
</style>
<style>
.task-action-edit-task a {
width:14px;
height:14px;
display: inline-block;
background: url("/assets/edit_task.png") no-repeat;
}
</style>
